ul {
    list-style: none;
    padding: 0;
}
.el-drawer__body {
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}
body {
    overflow: auto!important;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
*::-webkit-scrollbar { width: 0 !important }
